body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
#container {
  display: flex;
  flex-direction: row;
  
  height: 100vh;
}


#right-pane {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.13);
  justify-content: center;
}


#logo-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#form {
  width: 75%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#heading-text {
  color: black;
  font-size: 32px;
}

input {
  margin-top: 30px;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  border: 2px solid #099dfd;
  font-size: 1.25em;
}

#submit-button {
  background-color: #099dfd;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  font-size: 1.25em;
  margin-top: 20px;
}



#left-pane {
  width: 50vw;
  background-color: #099dfd;
  align-items: center;
  
}

#illustration-container {
  display:flex;
  border-radius: 200px;
  background-color: rgba(255, 255, 255, 0.0);
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}

#image-container {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  margin-top: auto;
  margin-bottom: auto;
}

#bottom-text {
  font-size: 30px;
  color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
